<li class="list-group-item">
  <%= link_to channel_path(channel.id), remote: true do %>
    <div>
      <p><%= channel.name %></p>
      <em class="text-muted"><%= channel.last_message&.message || 'No messages' %></em>
    </div>
  <% end %>
</li>
