<div class="card mb-2" id="<%= message.id %>">
  <div class="card-body">
    <h5 class="card-title text-muted">
      <%= message.user_id %>
      <small>- <%= time_ago_in_words Time.at(stream[0].split('-').first.to_i/1000) %> ago</small>
    </h5>
    <div class="card-text lead mb-2"><%= message.message %></div>
  </div>
</div>
