/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'bootstrap-icons/font/bootstrap-icons.css';

#channel {
  height: 80vh;
}

#room {
  height: 75vh;
  overflow-y: auto;
}

.channels a {
  text-decoration: none;
  color: black;
}

.channels p {
  margin-bottom: 0.5rem;
}

body {
  height: 100vh;
  font-family: 'Sofia Pro', sans-serif;
}

.row {
  margin: 0 !important;
}

#channel-list {
  height: 80%;
  overflow-y: auto;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.profile-icon:hover {
  cursor: pointer;
}

.user-profile-label {
  margin-bottom:1rem
}
